
/* generic */

/* html and body*/
html, body {
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 0; padding: 0;
    font-size: 16px;
}

/* fonts and text */
a {
    text-decoration: none;
}

/* default screen size is mobile at 400px wide
   media queries at bottom of file, screen size
   increases, with some adjustments for screen
   size smaller than 400px */

/* header */

/* header general */
header, .header-content, .logo-name a, .name,
.navigator, .contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content, .name, .contact {
    flex-direction: column;
}
header {
    left: 0; right: 0; top: 0;
    margin: 0; padding: 0;
    height: 12.5rem;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: #cc4c02;
    border-bottom: 0.5rem solid black;
    font-family: 'Special Elite', serif;
}
.logo-name {
    align-items: baseline;
    margin: 1rem 0 0.5rem;
}
/* logo and name */
.logo img {
    height: 4.5rem;
}
.name h1 {
    margin: 0; padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: white;
}
#main-name {font-size: 2.4rem;}
#sub-name {font-size: 1.9rem;}
/* navigator */
.navigator a {
    font-size: 1.25rem;
    color: white;
    text-transform: uppercase;
    background-color: #fe9929;
    border: 0.125rem solid white;
    border-radius: 0.4rem;
    margin: 0.125rem 0.25rem;
    padding: 0.4rem 0.5rem 0.125rem;
}
.navigator a:hover {
    background-color: #fed98e;
}
#here {
    color: black;
    background-color: transparent;
}
#here:hover {
    cursor: default;
}
/* contact */
.contact {margin: 0.5rem 0;}
.contact a {
    margin: 0.125rem 0; padding: 0;
    font-size: 1rem;
    color: white;
    text-transform: lowercase;
}

/* generic main */
main {
    top: 12.5rem;
    position: absolute;
}
main img {
    height: 16rem;
    width: auto;
}
h2, h3, p {
    font-family: 'Datatype', Arial, Helvetica, sans-serif;
    color: black;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
p {
    font-size: 1rem;
}
.home, .about, .portfolio, .testimonials {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* generic content blocks */
.home-content, .about-content, .portfolio-content, 
.testimonials-content {
    padding: 0.5rem;
}
.about-content, .portfolio-images, .quote-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* about */
.about-image, .cv, .background {
    padding: 0.5rem;
    max-width: 22rem;
    text-align: center;
}

/* portfolio */
.portfolio-content {
    display: flex;
    flex-direction: column;
}
.portfolio-img {
    margin: 0 1rem;
}
/* testimonials */
.quote {
    margin: 0.5rem;
    padding: 1rem;
    border: 0.25rem solid black;
    border-radius: 0.25rem;
}


/* larger when whole lot can go horizontal */
@media only screen and (min-width: 700px) {
    header {height: 10.5rem;}
    .logo-name {margin: 0.5rem 0 0}
    .name {
        flex-direction: row;
        column-gap: 1.4rem;
    }
    #main-name {font-size: 2.1rem;}
    #sub-name {font-size: 1.7rem;}
    .contact {
        flex-direction: row;
        column-gap: 2rem;
        margin: 0.75rem;
    }
    main {top: 10.5rem;}
}

@media only screen and (min-width: 1050px) {
    header {height: 9.5rem;}
    .header-content {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .name h1 {
        padding: 0.3rem;
    }
    .navigator {flex-direction: column;}
    .navigator a {
        margin: 0.25rem 0.5rem;
        font-size: 1.35rem;
    }
    .contact {flex-direction: column;}
    .contact a {padding: 0.5rem;}
    main { top: 9.5rem;}
    .home, .about, .portfolio, .testimonials {
        width: 95%;
        margin: 0 0.5rem;
        text-align: left;
        align-items: baseline;
    }
    .about-content, .portfolio-content {
        justify-content: left;
        align-items: baseline;
    }
    .about-image, .cv, .background, .portfolio-images {text-align: left;}
    h2 {font-size: 1.75rem;}
    p {font-size: 1.25rem;}
}
@media only screen and (min-width: 1450px) {
    header {height: 7rem;}
    .navigator {flex-direction: row;}
    .navigator a {font-size: 1.5rem;}
    .contact a {font-size: 1.25rem}
    main {top: 7rem;}
}
@media only screen and (min-width: 1700px) {
    .logo-name a {
        flex-direction: row;
        column-gap: 1rem;
    }
    #main-name {font-size: 2.5rem;}
    #sub-name {font-size: 2.2rem;}
    .logo img {height: 4rem;}
    .navigator a {font-size: 2.1rem;}
    .contact a {font-size: 1.5rem;}
}

/* smaller than default */
@media only screen and (max-width: 399px) {
    header {height: 10rem;}
    #main-name {font-size: 1.5rem;}
    #sub-name {font-size: 1.2rem;}
    .logo img {height: 2.5rem;}
    .navigator a {font-size: 0.8rem;}
    .contact a {font-size: 0.8rem;}
    main {top: 10rem;}
    main img {height: 12rem;}
    h2 {font-size: 1.1rem;}
    h3 {font-size: 0.9rem;}
    p {font-size: 0.8rem;}
}